/* Page */
.row-narrow > .col,
.row-narrow > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
/* Calendar */
.flatpickr-calendar.inline,
.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months, 
.flatpickr-calendar span.flatpickr-weekday {
    background: transparent !important;
    box-shadow: none;
}
.flatpickr-input[readonly], .flatpickr-cinput[readonly] {
    cursor: pointer;
    display: none;
}
.flatpickr-calendar .flatpickr-day.no-label {
    color: #444;
    background: #fff;
}
.flatpickr-calendar .flatpickr-day.today {
    border-color: #F8972C;
}
.flatpickr-calendar.inline {
    margin: 0 auto;
    width: 100%;
    max-width: 100% !important;
}
.flatpickr-innerContainer {
    justify-content: center;
}

.flatpickr-calendar span.flatpickr-weekday {
    font-size: 100%;
    color: #031133;
    text-transform: uppercase;
}
.flatpickr-calendar .flatpickr-day {
    font-weight: 500;
    text-align: center;
    border-radius: 0px;
}
.outofCapacity  {
    pointer-events: none;
    opacity: 0.6;
}
@media (min-width: 576px) {
    .flatpickr-calendar .flatpickr-days,
    .flatpickr-calendar .dayContainer {
        width: 440px;
        min-width: 440px;
    }
    .flatpickr-calendar .flatpickr-day {
        max-width: 50px;
        height: 40px;
        line-height: 40px;
        margin: 4px;
    }
}
/*.flatpickr-day.today{
    border-width: 0;
}*/
.flatpickr-day.selected,
.flatpickr-day.selected:hover {
    font-weight: 500;
    color: #fff!important;
    background-color: #F8972C!important;
}
.flatpickr-day.nextMonthDay,
.flatpickr-day.flatpickr-disabled {
    cursor: default !important;
    color: rgba(57,57,57,0.5) !important;
}
.flatpickr-day:hover, .flatpickr-day:focus,
.flatpickr-day.today:hover, .flatpickr-day.today:focus,
.flatpickr-day.selected:hover, .flatpickr-day.selected:focus,
.flatpickr-day.flatpickr-disabled:hover {
    border-color: #F8972C!important;
    background: #F8972C!important;
    color: #fff!important;
}
.flatpickr-calendar .flatpickr-weekdays {
    margin: 15px 0;;
}
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year{
    text-align: center;
    font-weight: 500 !important;
    color: #000 !important;
}
select.flatpickr-monthDropdown-months {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    pointer-events: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
/* Firefox */
input[type="number"] { 
    -moz-appearance: textfield; }